{% extends 'myPage.html.twig' %}
{% block header %}

    <nav class="navbar navbar-dark bg-primary"><a class="navbar-brand " href="/tests">Тесты</a><a href="/new" class="navbar-brand">Создать тест</a><a class="navbar-brand">Регистрация</a><a class="navbar-brand">Главная</a></nav>
    <div class="boldLine"><span class="boldTitle"></span> <span class="boldTitleLast"> </span></div>
{% endblock %}
{% block lastTest %}
     <form  action="" method="post">
<div class="testDiv form-group col-md-6">
    <label class="" for="TestName">Test Name</label>
   <input id="TestName" class="form-control" name="TestName" placeholder="Введите название Теста">
    <label class="" for="title">Test title</label>
        <textarea id="title" class="col"  name="title" placeholder="Введите описания теста"></textarea>
</div>
         <div class="boldLine"><span class="boldTitle"></span> <span class="boldTitleLast"> </span></div>
         <br>
    <div class="questions form-group col-md-12">
        <div class="question" id="question0">
            <textarea class="form-control" name="question0" placeholder="Вопрос для теста"></textarea>
            <input class="score form-control" name="score0" type="number"  placeholder="Баллы">
        <br>
            <input  name="0answer0[]" placeholder="Ответ"><input type="checkbox" name="0answer0[]" value="true"><button class="deleteAnswer btn btn-danger btn-sm">X</button><br>
            <button id="0" class="addAnswer btn btn-primary">Добавить вариант ответа</button>
        <br>
        <button class="addQuest btn btn-primary">Добавить вопрос</button>
        </div>
    </div>
         <div class="boldLine"><span class="boldTitle"></span> <span class="boldTitleLast"> </span></div>
        <button class="addTest btn btn-success" >Сохранить Тест</button>
    </form>



    <script src="{{ asset('JS/Tests.js') }}">

{% endblock %}