{% extends 'base.html.twig' %}
{% block lastTest %}
    <p>Тут будет начало </p>
    <form action="" method="post">
   <input name="TestName" value="Введите название Теста">
        <br>
        <textarea name="title">Введите описания теста</textarea>





    <div class="questions">
        <div id="question0">
            <input  name="question0" value="Вопрос"></label>
            <input class="polzun" name="score0" type="number" value="0">
        <br>
            <input  name="0answer0[]" value="Ответ"></label><input type="checkbox" name="0answer0[]" value="true">
        <br>
        <button id="0" class="addAnswer">Добавить вариант ответа</button>
        <br>
        <button class="addQuest">Добавить вопрос</button>
        </div>
    </div>
        <button class="addTest">Сохранить Тест</button>
    </form>
    <script src="{{ asset('JS/Tests.js') }}">

{% endblock %}