<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block title %}<title>TestHub!</title>{% endblock %}
    {% block stylesheets %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content="description"/>
        <meta name="keywords" content="keywords"/>
        <meta name="author" content="author"/>
        <link rel="stylesheet" type="text/css" href={{ asset('/myCSSfile.css') }} media="screen"/>
    {% endblock %}
</head>
{% block header %}

    <header><nav><a class="menu" href="/tests">Тесты</a><a class="menu">Создать тест</a><a class="menu">Регистрация</a><a class="menu">Главная</a></nav>  <h1>TestHub</h1></header>
    <div class="boldLine"><span class="boldTitle">Тесты</span> <span class="boldTitleLast">Последние тесты</span></div>
{% endblock %}

</html>

<body>
{% block body %}
<div class="mainblock">
<div class="tests">
    <div class ="TestsName">
        Астрофизический Тест
    </div>
    <div class="testsTitle">

    </div>
    Повышаем знания
</div>
<div class="LastsTest">
Последний тест
</div>
</div>
{% endblock %}

</body>